/* normalize setting */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

img {
	border-style: none;
}

@font-face {
	font-family: titlefont;
	src: url('../font/Courgette-Regular.ttf');
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

/* global variables */
:root {
	--main-color1: #004edb;
	--main-color2: black;
	--title-ratio: calc(16 / 9);
	--title-font-size: 6vw;
	--header-height: 60px;
}

/* use grid to construct header */
.header {
	width: 100%;
	height: var(--header-height);

	display: grid;
	grid-template-columns: 1fr 9fr 3fr 1fr;
	grid-template-rows: 5fr 1fr;
	grid-template-areas: 
		"header-menu . header-explore header-search"
		"header-transition header-transition header-transition header-transition";
}

.header-menu {
	grid-area: header-menu;
	/* background-color: #11EBCD; */

	/* flex is more convenient with images */
	display: flex;
	justify-content: center;
    align-items: center;
}

#menu-icon {
	width: calc(var(--header-height) - 30px);
}

.header-explore {
	grid-area: header-explore;
	/* background-color: #11EBCD; */

	font-family: titlefont;
	font-size: calc(var(--header-height) - 30px);

	place-self: center center;
}

.header-search {
	grid-area: header-search;
	/* background-color: #11EBCD; */

	/* flex is more convenient with images */
	display: flex;
	justify-content: center;
    align-items: center;
}

#search-icon {
	width: calc(var(--header-height) - 35px);
}

.header-transition {
	grid-area: header-transition;
	background: 
		linear-gradient(black, grey 20%, white 80%);
	/* background-color: #11EBCD; */
}


/* use grid to construct the main body */
.main {
	width: 100%;
	height: calc(1 / var(--title-ratio) * 100vw);

	display: grid;
	grid-template-columns: 1.4fr 1fr;
	grid-template-rows: 3fr 1fr 1fr 3fr;
	grid-template-areas: 
		". main-img"
		"main-sentence-1 main-img"
		"main-sentence-2 main-img"
		". main-img";
}

.main-sentence-1 {
	grid-area: main-sentence-1;
	place-self: center center;

	font-size: var(--title-font-size);
	font-family: titlefont;
	color: var(--main-color2);
}

.main-sentence-2 {
	grid-area: main-sentence-2;
	place-self: center center;

	font-size: var(--title-font-size);
	font-family: titlefont;
	color: var(--main-color1);
}

.main-img {
	grid-area: main-img;

	/* flex is more convenient with images */
	display: flex;
	justify-content: center;
    align-items: center;
	/* background-color: #11EBCD; */
}

#my-icon {
	width: 60%;
	padding-right: 10%;
}

/* change the layout when the maximum width of the screen is smaller than 990px */
@media screen and (max-width: 990px) {
	:root {
		--header-height: 50px;
		--title-ratio: calc(4 / 3);
	}

	.header {
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-rows: 5fr 1fr;
		grid-template-areas: 
			"header-menu header-explore header-search"
			"header-transition header-transition header-transition";
	}

	.main {
		width: 100%;
		height: calc(1 / var(--title-ratio) * 100vw);
	
		grid-template-columns: 1fr 6fr 1fr;
		grid-template-rows: 8fr 1fr 1fr;
		grid-template-areas: 
			". main-img ."
			". main-sentence-1 ."
			". main-sentence-2 .";
	}

	#my-icon {
		width: 60%;
		padding-right: 0%;
	}
}