body {
	background-color: white;
}

.title {
	color: #004edb;
	/* color: #9ad36a; */
}

.firstsentence {
	color: black;
}

p {
	color: black;
}

ol li {
	color: black
}

table  td {
	color: black;
}

table th {
	color: black;
}